/* SearchTrip.css */

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #c9c3c3; /* Slightly off-white */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #5e766b;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
}

button:disabled {
    background-color: #ccc;
    color: #666;
}

div {
    margin-top: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: #5e766b;
}

p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* Adjust button styles inside the search results */
div button {
    margin-top: 0.5rem;
}

.card {
    background-color: #242424; /* Card background color */
    color: #5e766b; /* Updated background color */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 8px;
}

.card button {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #306c6a; /* Button background color */
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
}

.card button:hover {
    background-color: #5e766b; /* Updated button hover color */
    border-color: #918365; /* Updated button border color on hover */
}

.card button:focus,
.card button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
